{#
 -------------------------------------------------------------------------
 metademands plugin for GLPI
 Copyright (C) 2018-2026 by the metademands Development Team.

 https://github.com/InfotelGLPI/metademands
 -------------------------------------------------------------------------

 LICENSE

 This file is part of metademands.

 metademands is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 metademands is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with metademands. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

<div class="card mt-2">
    <div class="card-header">
        <h5 class="card-title">{{ __('Specific parameters', 'metademands') }}</h5>
    </div>
    <div class="card-body">
        {% if show_used_by_child or show_link_to_user %}
            <div class="row g-2 align-items-center mb-2">
                {% if show_used_by_child %}
                    <label
                        class="col-sm-3 col-form-label">{{ __('Use this field for child ticket field', 'metademands') }}</label>
                    <div class="col-sm-3">{{ used_by_child_html|raw }}</div>
                {% endif %}
                {% if show_link_to_user %}
                    <label class="col-sm-3 col-form-label">{{ __('Link this to a user field', 'metademands') }}</label>
                    <div class="col-sm-3">{{ link_to_user_html|raw }}</div>
                {% endif %}
            </div>
        {% endif %}
        {% if show_location_options %}
            <div class="row g-2 align-items-center mb-2">
                <label class="col-sm-3 col-form-label">{{ __('Display type of the field', 'metademands') }}</label>
                <div class="col-sm-3">{{ display_type_html|raw }}</div>
                <label class="col-sm-3 col-form-label">{{ __('Root location', 'metademands') }}</label>
                <div class="col-sm-3">{{ root_items_html|raw }}</div>
            </div>
        {% elseif show_display_type %}
            <div class="row g-2 align-items-center mb-2">
                <label class="col-sm-3 col-form-label">{{ __('Display type of the field', 'metademands') }}</label>
                <div class="col-sm-3">{{ display_type_html|raw }}</div>
            </div>
        {% endif %}
    </div>
</div>
