{#
 -------------------------------------------------------------------------
 metademands plugin for GLPI
 Copyright (C) 2018-2026 by the metademands Development Team.

 https://github.com/InfotelGLPI/metademands
 -------------------------------------------------------------------------

 LICENSE

 This file is part of metademands.

 metademands is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 metademands is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with metademands. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}

<form name="form" method="post" action="{{ action }}">
    {{ inputs.hidden('_glpi_csrf_token', csrf_token()) }}
    {{ inputs.hidden('plugin_metademands_metademands_id', metademand_id) }}
    {{ inputs.hidden('id', condition_id) }}

    <div class="card mt-2">
        <div class="card-body">
            <div class="row g-2 align-items-start mb-2">
                <div class="col fw-bold">{{ __('Logical operator', 'metademands') }}</div>
                <div class="col fw-bold">
                    {{ __('Field', 'metademands') }}
                    <span class="text-danger">*</span>
                </div>
                <div class="col fw-bold">{{ __('Field type', 'metademands') }}</div>
                <div class="col fw-bold">
                    {{ __('Equality operator', 'metademands') }}
                    <span class="text-danger">*</span>
                </div>
                <div class="col fw-bold">{{ __('Value to check', 'metademands') }}</div>
                <div class="col fw-bold">
                    {{ __('Pool', 'metademands') }}
                    <span class="text-danger">*</span>
                    <small class="text-primary d-block">
                        {{ __('Order of execution and grouping of conditions', 'metademands') }}
                    </small>
                </div>
                <div class="col"></div>
            </div>

            <div class="row g-2 align-items-center">
                <div class="col">
                    {{ show_logic_html|raw }}
                </div>
                <div class="col">
                    {{ fields_dropdown_html|raw }}
                    {% do call('Ajax::updateItemOnSelectEvent', [
                        'dropdown_plugin_metademands_fields_id' ~ rand,
                        'show_type_field' ~ rand,
                        plugin_web_dir ~ '/ajax/show_type_field.php',
                        {'fields_id': '__VALUE__', 'rand': rand}
                    ]) %}
                    {% do call('Ajax::updateItemOnSelectEvent', [
                        'dropdown_plugin_metademands_fields_id' ~ rand,
                        'show_dropdown_condition_' ~ rand,
                        plugin_web_dir ~ '/ajax/show_conditions.php',
                        {'fields_id': '__VALUE__', 'rand': rand}
                    ]) %}
                    {% do call('Ajax::updateItemOnSelectEvent', [
                        'dropdown_plugin_metademands_fields_id' ~ rand,
                        'show_value_to_check_' ~ rand,
                        plugin_web_dir ~ '/ajax/show_check_value.php',
                        {'fields_id': '__VALUE__', 'rand': rand}
                    ]) %}
                </div>
                <div class="col">
                    <span id="show_type_field{{ rand }}">{{ type_field_html|raw }}</span>
                </div>
                <div class="col">
                    <span id="show_dropdown_condition_{{ rand }}">{{ condition_dropdown_html|raw }}</span>
                </div>
                <div class="col">
                    <span id="show_value_to_check_{{ rand }}">{{ check_value_html|raw }}</span>
                </div>
                <div class="col">
                    {{ order_dropdown_html|raw }}
                </div>
                <div class="col">
                    <button class="btn btn-primary" type="submit" name="update" value="1">
                        <i class="ti ti-device-floppy"></i>
                        <span>{{ _x('button', 'Save') }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
