{#
 -------------------------------------------------------------------------
 Metademands plugin for GLPI
 Copyright (C) 2018-2026 by the Metademands Development Team.
 -------------------------------------------------------------------------

 LICENSE

 This file is part of Metademands.

 Metademands is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 Metademands is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Metademands. If not, see <http://www.gnu.org/licenses/>.
 -------------------------------------------------------------------------
 @copyright Copyright (C) 2026-2026 by Metademands plugin team.
 @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
 @link      https://github.com/InfotelGLPI/Metademands
 -------------------------------------------------------------------------
#}

<table class="tab_cadre w-100">
    <tbody>
        {% if show_mandatory or show_hide_title %}
        <tr>
            {% if show_mandatory %}
            <td class="tab_bg_2">{{ __('Mandatory field') }}</td>
            <td class="tab_bg_1">{{ mandatory_html|raw }}</td>
            {% else %}
            <td colspan="2"></td>
            {% endif %}
            {% if show_hide_title %}
            <td class="tab_bg_2">{{ __('Hide title', 'metademands') }}</td>
            <td class="tab_bg_1">{{ hide_title_html|raw }}</td>
            {% else %}
            <td colspan="2"></td>
            {% endif %}
        </tr>
        {% endif %}
        <tr>
            <td class="tab_bg_2">{{ __('Icon') }}</td>
            <td class="tab_bg_1" colspan="3">{{ icon_html|raw }}</td>
        </tr>
        {% if show_row_display %}
        <tr>
            <td class="tab_bg_2">{{ __('Takes the whole row', 'metademands') }}</td>
            <td class="tab_bg_1">{{ row_display_html|raw }}</td>
            {% if show_is_basket %}
            <td class="tab_bg_2">{{ __('Display into the basket', 'metademands') }}</td>
            <td class="tab_bg_1">{{ is_basket_html|raw }}</td>
            {% else %}
            <td colspan="2"></td>
            {% endif %}
        </tr>
        {% endif %}
        {% if show_used_by_ticket or show_plugin_fields %}
        <tr>
            {% if show_used_by_ticket %}
            <td class="tab_bg_2">{{ __('Use this field as object field', 'metademands') }}</td>
            <td class="tab_bg_1"{% if not show_plugin_fields %} colspan="3"{% endif %}>{{ used_by_ticket_html|raw }}</td>
            {% endif %}
            {% if show_plugin_fields %}
            <td class="tab_bg_2">{{ __('Link this to a plugin "fields" field', 'metademands') }}</td>
            <td class="tab_bg_1"{% if not show_used_by_ticket %} colspan="3"{% endif %}>{{ plugin_fields_html|raw }}</td>
            {% endif %}
        </tr>
        {% endif %}
    </tbody>
</table>
