{#
-------------------------------------------------------------------------
Metademands plugin for GLPI
Copyright (C) 2018-2026 by the Metademands Development Team.
-------------------------------------------------------------------------

LICENSE

This file is part of Metademands.

Metademands is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

Metademands is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Metademands. If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------
@copyright Copyright (C) 2026-2026 by Metademands plugin team.
@license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
@link      https://github.com/InfotelGLPI/Metademands
-------------------------------------------------------------------------
#}

{% if has_duplicates %}
    <div class="alert alert-warning d-flex align-items-center mb-2">
        <i class="ti ti-alert-triangle me-2" style="font-size:2em;color:orange;"></i>
        <span>{{ __('You have duplicates rank!', 'metademands') }}</span>
    </div>
{% endif %}

{% if is_not_sequential %}
    <div class="alert alert-warning d-flex align-items-center mb-2">
        <i class="ti ti-alert-triangle me-2" style="font-size:2em;color:orange;"></i>
        <div>
            <p class="mb-1">{{ __('The ranks are not ordered correctly, you will not be able to order them!', 'metademands') }}</p>
            {{ fix_ranks_html|raw }}
        </div>
    </div>
{% endif %}

<table class="tab_cadre_fixe w-100">
    {% if show_header %}
        <tr class="tab_bg_1">
            <th colspan="5">{{ __('Custom values', 'metademands') }}</th>
        </tr>
    {% endif %}
    {{ custom_values_html|raw }}
</table>
