{#
 -------------------------------------------------------------------------
 metademands plugin for GLPI
 Copyright (C) 2018-2026 by the metademands Development Team.

 https://github.com/InfotelGLPI/metademands
 -------------------------------------------------------------------------

 LICENSE

 This file is part of metademands.

 metademands is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 3 of the License, or
 (at your option) any later version.

 metademands is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with metademands. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

{% if has_duplicates %}
    <div class="alert alert-warning d-flex align-items-center mb-2">
        <i class="ti ti-alert-triangle me-2" style="font-size:2em;color:orange;"></i>
        <span>{{ __('You have duplicates rank!', 'metademands') }}</span>
    </div>
{% endif %}

{% if is_not_sequential %}
    <div class="alert alert-warning d-flex align-items-center mb-2">
        <i class="ti ti-alert-triangle me-2" style="font-size:2em;color:orange;"></i>
        <div>
            <p class="mb-1">{{ __('The ranks are not ordered correctly, you will not be able to order them!', 'metademands') }}</p>
            {{ fix_ranks_html|raw }}
        </div>
    </div>
{% endif %}

<table class="tab_cadre_fixe w-100">
    {% if show_header %}
        <tr class="tab_bg_1">
            <th colspan="5">{{ __('Custom values', 'metademands') }}</th>
        </tr>
    {% endif %}
    {{ custom_values_html|raw }}
</table>
