{#
-------------------------------------------------------------------------
Metademands plugin for GLPI
Copyright (C) 2018-2026 by the Metademands Development Team.
-------------------------------------------------------------------------

LICENSE

This file is part of Metademands.

Metademands is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

Metademands is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Metademands. If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------
@copyright Copyright (C) 2026-2026 by Metademands plugin team.
@license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
@link      https://github.com/InfotelGLPI/Metademands
-------------------------------------------------------------------------
#}

{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}

{% do call('Html::requireJs', ['tinymce']) %}

<form name="form" method="post" action="{{ action }}">
    {{ inputs.hidden('_glpi_csrf_token', csrf_token()) }}
    {{ inputs.hidden('plugin_metademands_metademands_id', metademand_id) }}
    {% if not is_new %}{{ inputs.hidden('id', field_id) }}{% endif %}
    {{ inputs.hidden('entities_id', entities_id) }}
    {{ inputs.hidden('is_recursive', is_recursive) }}

    {% if metafield_itil_warning %}
        <div class="alert alert-warning d-flex align-items-center mb-3">
            <i class="ti ti-alert-triangle me-2" style="font-size:2em;color:orange;"></i>
            <span>{{ __('Please add a type category field', 'metademands') }}</span>
        </div>
    {% endif %}

    <div class="card mt-2">
        <div class="card-body">

            {# Libellé #}
            <div class="row mb-3">
                <label class="col-4 col-form-label fw-bold">
                    {{ __('Label') }} <span class="text-danger">*</span>
                </label>
                <div class="col-8">
                    <input type="text" name="name" class="form-control" value="{{ item_name }}">
                </div>
            </div>

            {# Libellé 2 + Commentaire #}
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label fw-bold">
                        {{ __('Additional label', 'metademands') }}
                        <span id="show_label2"
                              class="text-danger"{{ not show_label2_required ? ' style="display:none;"' }}>*</span>
                    </label>
                    {% do call('Html::textarea', [{'name': 'label2', 'value': label2,
                        'enable_richtext': true, 'enable_fileupload': false,
                        'enable_images': true, 'cols': 50, 'rows': 3}]) %}
                </div>
                <div class="col-6">
                    <label class="form-label fw-bold">{{ __('Comments') }}</label>
                    {% do call('Html::textarea', [{'name': 'comment', 'value': comment,
                        'enable_richtext': true, 'enable_fileupload': false,
                        'enable_images': false, 'cols': 50, 'rows': 3}]) %}
                </div>
            </div>

            {# Type + Bloc #}
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label fw-bold">
                        {{ __('Type') }} <span class="text-danger">*</span>
                    </label>
                    {{ type_html|raw }}
                    {% if basket_warning %}
                        <div class="alert alert-warning d-flex mt-1">
                            <span>{{ __("Remember to activate basket mode on your metademand !", 'metademands') }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="col-6">
                    <label class="form-label fw-bold">{{ __('Block', 'metademands') }}</label>
                    {{ rank_html|raw }}
                    {% do call('Ajax::updateItemOnSelectEvent', [
                        'dropdown_rank' ~ rank_rand,
                        'show_order',
                        plugin_web_dir ~ '/ajax/viewtypefields.php?id=' ~ field_id,
                        {'rank': '__VALUE__', 'step': 'order', 'fields_id': field_id,
                            'metademands_id': metademand_id, 'previous_fields_id': prev_fields_id}
                    ]) %}
                </div>
            </div>

            {# Objet + Ordre #}
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label fw-bold">{{ item_label_html|raw }}</label>
                    {{ item_value_html|raw }}
                </div>
                {% if not is_title_block %}
                    <div class="col-6">
                        <label class="form-label fw-bold">{{ __('Display field after', 'metademands') }}</label>
                        <span id="show_order">{{ order_html|raw }}</span>
                    </div>
                {% endif %}
            </div>

            {% if customvalues_warning %}
                <div class="alert alert-warning d-flex mt-2">
                    <b>{{ __('Warning : there is no custom values for this object', 'metademands') }}</b>
                </div>
            {% endif %}

            <div id="show_values"></div>

        </div>
        <div class="card-footer d-flex justify-content-end gap-2">
            {% if is_new %}
                <button class="btn btn-secondary" type="submit" name="add_another" value="1">
                    <i class="ti ti-plus"></i>
                    <span>{{ __('Add and create another', 'metademands') }}</span>
                </button>
                <button class="btn btn-primary" type="submit" name="add" value="1">
                    <i class="ti ti-device-floppy"></i>
                    <span>{{ __('Add and close', 'metademands') }}</span>
                </button>
            {% else %}
                <button class="btn btn-primary" type="submit" name="update" value="1">
                    <i class="ti ti-device-floppy"></i>
                    <span>{{ _x('button', 'Save') }}</span>
                </button>
            {% endif %}
        </div>
    </div>
</form>
