{#
 -------------------------------------------------------------------------
 metademands plugin for GLPI
 Copyright (C) 2018-2026 by the metademands Development Team.

 https://github.com/InfotelGLPI/metademands
 -------------------------------------------------------------------------

 LICENSE

 This file is part of metademands.

 metademands is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 3 of the License, or
 (at your option) any later version.

 metademands is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with metademands. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}

<form name="form" method="post" action="{{ form_action }}">
    {{ inputs.hidden('_glpi_csrf_token', csrf_token()) }}
    {{ inputs.hidden('plugin_metademands_fields_id', field_parent_id) }}
    {% if not is_new %}{{ inputs.hidden('id', field_id) }}{% endif %}

    <table class="tab_cadre w-100">
        <tbody>
        {{ form_rows_html|raw }}
        </tbody>
    </table>

    {% if show_submit %}
        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-primary" type="submit"
                    name="{{ is_new ? 'add' : 'update' }}" value="1">
                <i class="ti ti-device-floppy"></i>
                <span>{{ is_new ? _x('button', 'Add') : _x('button', 'Save') }}</span>
            </button>
        </div>
    {% endif %}
</form>
