{#
 -------------------------------------------------------------------------
 metademands plugin for GLPI
 Copyright (C) 2018-2026 by the metademands Development Team.

 https://github.com/InfotelGLPI/metademands
 -------------------------------------------------------------------------

 LICENSE

 This file is part of metademands.

 metademands is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 2 of the License, or
 (at your option) any later version.

 metademands is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with metademands. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}

<form name="form" method="post" action="{{ action }}">
    {{ inputs.hidden('_glpi_csrf_token', csrf_token()) }}
    {{ inputs.hidden('plugin_metademands_metademands_id', metademand_id) }}
    {% if not is_new %}{{ inputs.hidden('id', step_id) }}{% endif %}

    <div class="card mt-2">
        <div class="card-body">

            <div class="row mb-3">
                <label class="col-4 col-form-label">
                    {{ __('Block', 'metademands') }}
                </label>
                <div class="col-8">
                    {{ block_dropdown_html|raw }}
                </div>
            </div>

            {% if supervisor_validation is not null and supervisor_validation == 0 %}
                <div class="row mb-3">
                    <label class="col-4 col-form-label">
                        {{ __('Group') }}
                    </label>
                    <div class="col-8">
                        {{ groups_dropdown_html|raw }}
                        {{ inputs.hidden('only_by_supervisor', 0) }}
                    </div>
                </div>
            {% endif %}

            {% if supervisor_validation is not null and supervisor_validation == 1 %}
                <div class="row mb-3">
                    <label class="col-4 col-form-label">
                        {{ __('Only by supervisor', 'metademands') }}
                    </label>
                    <div class="col-8">
                        {{ supervisor_dropdown_html|raw }}
                        {{ inputs.hidden('groups_id', 0) }}
                    </div>
                </div>
            {% endif %}

            <div class="row mb-3">
                <label class="col-4 col-form-label">
                    {{ __('Message displayed before sending to the next supervisor or user', 'metademands') }}
                </label>
                <div class="col-8">
                    {% do call('Html::textarea', [{'name': 'message', 'value': message,
                        'enable_richtext': false, 'cols': 80, 'rows': 3}]) %}
                </div>
            </div>

        </div>
        <div class="card-footer d-flex justify-content-end gap-2">
            {% if is_new %}
                <button class="btn btn-primary" type="submit" name="add" value="1">
                    <i class="ti ti-device-floppy"></i>
                    <span>{{ _x('button', 'Add') }}</span>
                </button>
            {% else %}
                <button class="btn btn-primary" type="submit" name="update" value="1">
                    <i class="ti ti-device-floppy"></i>
                    <span>{{ _x('button', 'Save') }}</span>
                </button>
                <button class="btn btn-danger" type="submit" name="delete" value="1"
                        onclick="return confirm('{{ __('Are you sure you want to delete this item?')|e('js') }}');">
                    <i class="ti ti-trash"></i>
                    <span>{{ _x('button', 'Delete permanently'), }}</span>
                </button>
            {% endif %}
        </div>
    </div>
</form>
