{#
 -------------------------------------------------------------------------
 metademands plugin for GLPI
 Copyright (C) 2018-2026 by the metademands Development Team.

 https://github.com/InfotelGLPI/metademands
 -------------------------------------------------------------------------

 LICENSE

 This file is part of metademands.

 metademands is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 3 of the License, or
 (at your option) any later version.

 metademands is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with metademands. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

{% import 'components/form/basic_inputs_macros.html.twig' as inputs %}

{% do call('Html::requireJs', ['tinymce']) %}

{{ inputs.hidden('tickettask_id', tickettask_id) }}
{% if tickettemplates_id > 0 %}
    {{ inputs.hidden('_tickettemplates_id', tickettemplates_id) }}
{% endif %}

{% if is_ticket_type %}

    {# --- Bloc / Format / Entité / Catégorie --- #}
    <div class="row mb-3">
        <label class="col-2 col-form-label fw-bold">{{ __('Use block', 'metademands') }}</label>
        <div class="col-4">{{ use_block_html|raw }}</div>
        <label class="col-2 col-form-label fw-bold">{{ __('Block to use', 'metademands') }}</label>
        <div class="col-4">{{ block_use_html|raw }}</div>
    </div>

    <div class="row mb-3">
        <label class="col-2 col-form-label fw-bold">
            {{ __('Format the description of the childs ticket as a table', 'metademands') }}
        </label>
        <div class="col-4">{{ format_as_table_html|raw }}</div>
        <label class="col-2 col-form-label fw-bold">
            {{ __('Block parent ticket resolution', 'metademands') }}
        </label>
        <div class="col-4">{{ block_parent_ticket_resolution_html|raw }}</div>
    </div>

    {% if canchangeorder %}
        <div class="row mb-3">
            <label class="col-2 col-form-label fw-bold">{{ __('Create after the task', 'metademands') }}</label>
            <div class="col-4">{{ parent_tasks_html|raw }}</div>
        </div>
    {% endif %}

    <div class="row mb-3">
        <label class="col-2 col-form-label fw-bold">{{ __('Entity') }}</label>
        <div class="col-4">{{ entity_html|raw }}</div>
        <label class="col-2 col-form-label fw-bold">
            {{ __('Category') }}{{ category_mark|raw }}
        </label>
        <div class="col-4">
            <span id="ticket_category">{{ category_html|raw }}</span>
        </div>
    </div>

    <hr class="my-3">

{% endif %}

{# --- Acteurs --- #}

{% if is_ticket_type and show_requester_header %}
    <div class="row mb-3">
        <label class="col-4 col-form-label fw-bold">
            {{ __('Requester') }} ({{ __('User') }}){{ requester_user_mark|raw }}
        </label>
        <div class="col-8">
            <span id="ticket_users_id_requester">{{ users_id_requester_html|raw }}</span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-4 col-form-label fw-bold">
            {{ __('Requester') }} ({{ __('Group') }}){{ requester_group_mark|raw }}
        </label>
        <div class="col-8">
            <span id="ticket_groups_id_requester">{{ groups_id_requester_html|raw }}</span>
        </div>
    </div>
{% endif %}

{% if is_ticket_type and show_observer_header %}
    <div class="row mb-3">
        <label class="col-4 col-form-label fw-bold">
            {{ __('Observer') }} ({{ __('User') }}){{ observer_user_mark|raw }}
        </label>
        <div class="col-8">
            <span id="ticket_users_id_observer">{{ users_id_observer_html|raw }}</span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-4 col-form-label fw-bold">
            {{ __('Observer') }} ({{ __('Group') }}){{ observer_group_mark|raw }}
        </label>
        <div class="col-8">
            <span id="ticket_groups_id_observer">{{ groups_id_observer_html|raw }}</span>
        </div>
    </div>
{% endif %}

<div class="row mb-3">
    <label class="col-4 col-form-label fw-bold">
        {{ __('Assigned to') }} ({{ __('User') }}){{ assign_user_mark|raw }}
    </label>
    <div class="col-8">
        <span id="ticket_users_id_assign">{{ users_id_assign_html|raw }}</span>
    </div>
</div>

<div class="row mb-3">
    <label class="col-4 col-form-label fw-bold">
        {{ __('Assigned to') }} ({{ __('Group') }}){{ assign_group_mark|raw }}
    </label>
    <div class="col-8">
        <span id="ticket_groups_id_assign">{{ groups_id_assign_html|raw }}</span>
    </div>
</div>

{% if is_ticket_type and (show_status or show_requesttype) %}
    <hr class="my-3">
    {% if show_status %}
        <div class="row mb-3">
            <label class="col-4 col-form-label fw-bold">
                {{ __('Status') }}{{ status_mark|raw }}
            </label>
            <div class="col-8">{{ status_html|raw }}</div>
        </div>
    {% endif %}
    {% if show_requesttype %}
        <div class="row mb-3">
            <label class="col-4 col-form-label fw-bold">
                {{ __('Request source') }}{{ requesttype_mark|raw }}
            </label>
            <div class="col-8">{{ requesttype_html|raw }}</div>
        </div>
    {% endif %}
{% endif %}

<hr class="my-3">

{# --- Titre / Description --- #}

<div class="row mb-3">
    <label class="col-4 col-form-label fw-bold">
        {{ __('Title') }}{{ title_mark|raw }}
    </label>
    <div class="col-8">
        <input type="text" class="form-control" name="name" value="{{ name }}">
    </div>
</div>

<div class="row mb-3">
    <label class="col-4 col-form-label fw-bold">{{ __('Description') }}</label>
    <div class="col-8">
        {% do call('Html::textarea', [{'name': 'content', 'value': content,
            'enable_richtext': true, 'enable_fileupload': false,
            'enable_images': false, 'rows': 3}]) %}
    </div>
</div>
